Pillow~=9.0.1
pip~=21.3.1
toml~=0.10.2
py~=1.9.0
Django~=3.2.5
sqlparse~=0.4.1
psycopg2~=2.9.1
config~=0.5.0.post0
asgiref~=3.4.1
PyYAML~=5.4.1
Jinja2~=2.11.2
numpy~=1.21.4
click~=7.1.2
coverage~=5.5
setuptools~=49.2.1
django-crispy-forms~=1.12.0
pytest~=6.1.2
python-dotenv~=0.14.0