{% extends "diary/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_staff or user.is_superuser%}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Nouveau compte rendu </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"> Publier </button>
                </div>
            </form>
        </div>
    {% else %}
        <p>
            <h2 style="color: red">
                Vous n'êtes pas un membre du staff médical, vous ne pouvez publier d'articles sur ce site !
            </h2>
        </p>
    {% endif %}

{% endblock content %}